footer {
	background-color:transparent;
	color:whitesmoke;
	bottom: 0;
	margin-top:14px;
	margin-bottom:0;
	font-size:15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
}
footer a{
	color: whitesmoke !important;
}
footer .row {
	justify-content: center;
	align-items: center;
}
.copyright {
	width: 100%;
	text-align: center;
}
.footer-affix {
	background-color: #e3115d;
	margin-top:0;
	padding: 1rem;
	position: absolute;
	bottom: auto;
}