table,
      tbody,
      tr {
        width: 100%;
      }
      td {
        text-align: center;
      }


.home {
    width: 100%;
    height: 100vh;
    background-image: url("../images/reversed.gif");
    animation: infinite;
    background-position: center top;
	background-size:cover;
}

h1{
    font-size: 50px;
}

h5{
    font-size: 25px;
}

/*dugme*/
.dugme {
  align-items: center;
  background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: white !important;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 25px;
  justify-content: center;
  line-height: 1em;
  size: 50px;
  padding: 3px;
  text-decoration: none !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.dugme:active, .dugme:hover, .dugme.focus {
  outline: none;
}

.dugme span {
  /*background-color: white;*/
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.dugme:hover span {
  background: none;
}
.filter-form {
  background-color:beige;
  width: 100vw;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}
.filter-form .row {
  width: 100%;
  height: 100%;
}
/* #allBuses {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}
#allBuses::-webkit-scrollbar {
  width: 1rem;
}
#allBuses::-webkit-scrollbar-track {
  background: #EE6A61;
}
#allBuses::-webkit-scrollbar-thumb {
  background: #B91061;
}
#allBuses::-webkit-scrollbar-thumb:hover {
  background: #b91062ab;
} */
.filter-form .col-md-5,
.filter-form .col-md-7 {
  max-height: 100%;
}

#allBuses {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.bus-list-item {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 2rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bus-list-item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
.book-form {
  background-color: beige;
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
}