@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
    scroll-behavior: smooth;
}
html,
body {
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Phantomsans, sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
}
button,
[type=button],
[type=submit] {
    outline: none !important;
}
html.loading {
    overflow: hidden;
}

.loading-screen {
    background: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in;
}
.loading-screen.loaded {
    opacity: 0;
    pointer-events: none;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  