@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Phantomsans, sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    
}

/*NAV*/
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    font-family: 'Pacifico';

}

.nav div.logo a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 5rem;
}

.nav div.logo a:hover {
    color: whitesmoke;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3em;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: whitesmoke   ;
    line-height: 65px;
    font-size: 2.5rem;
    font-weight: 500;

}

.nav div.main_list ul li a:hover {
   color: whitesmoke;
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(materijal/gif2.gif);
    animation: infinite;
    background-position: center top;
	background-size:cover;
}

h1{
    font-size: 50px;
}

h5{
    font-size: 25px;
}

/*dugme REZERVISI*/
.dugme {
  align-items: center;
  font-weight: 700;
  background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
  border: 0;
  border-radius: 100rem;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 25px;
  justify-content: center;
  line-height: 1em;
  size: 50px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.dugme:active, .dugme:hover, .dugme.focus, .dugme2:active, .dugme2:hover, .dugme2.focus, .dugme3:active, .dugme3:hover, .dugme3.focus {
  outline: none;
}

.dugme span {
  /*background-color: white;*/
  padding: 15px 35px;
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.dugme:hover span, .dugme2:hover span, .dugme3:hover span{
  background: none;
}


button[type="button"]
{
    outline:none;
}

/*triggeri*/
.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin: auto;
        background-color: #e3115d;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: right;
        width: 100%;
        font-size: 3rem;
        /*padding: 20px;*/
    }
    .nav div.media_button {
        display: block;
    }
}


/*ikonica i animacija*/

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    padding-top: 20px;
}

.navTrigger i {
    background-color: whitesmoke;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

/*stikovani bar*/
.affix {
    padding: 0;
    background-color: #e3115d;
}

/*forma*/
.forma{
    width: 100%;
    height: 100%;
    margin-left: 80px;
    
}

.section {
    position: relative;
    height: 100vh;
    padding: 0;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.booking-form {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    background-size: cover;
    border-radius: 20px;
    z-index: 20;
}

.booking-form::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.booking-form .form-header {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-header h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
    margin: 0px;
    color: #fff;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: #fafafa;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #e3115d;
    box-shadow: 0px 0px 0px 2px #e3115d;
}

/*ne znam cemu sluzi ali kada se skloni klikom na input polje pozadina postaje bela*/
.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px
}


/*dugme Filtriraj*/
.dugme2 {
    color: #fff;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    font-weight: 700;
    height: 60px;
    padding: 15px 35px;
    width: 100%;
    font-size: 25px;
    border-radius: 100rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    justify-content: center;
    line-height: 1em;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

/*autobusi*/
.tabela{
    width: 100%;
    float: right;
    margin-left: 50px;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
   /* background-color: #e3115d;*/
    color: whitesmoke;
}
  .table{
    width:100%;
    height: 100%;
    table-layout: fixed;
  }
  .table td, .table th{
      border-top: 0;
  }

  .tbl-header{
    background:transparent;
    font-size: 15px;
   }

  th{
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    color: #fff;

  }
  .table tbody tr.highlight td {
    background-color: #ddd;
  }


/*SEDISTA*/
.bus {
    margin: auto;
    width: 100%;
    max-width: 370px;
}

.exit {
    position: relative;
    height: 50px;
}

/*VRATA AUTOBUSA*/
 .exit:after {
    content: "VRATA";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    display: block;
    position: absolute;
    background: #e3115d;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
}

.exit:after {
    right: 0;
}


/*ivice autobusa*/
.fuselage {
    border-right: 10px solid #d8d8d8;
    border-left: 10px solid #d8d8d8;
    padding-left: 10px;
    padding-right: 10px;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*sedista*/
.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/*sediste pojedinacno*/
.seat {
    display: flex;
    padding: 10px;
    position: relative;
}

/*razmak posle drugog sedista*/
.seat:nth-child(2) {
    margin-right: 50%;
}
.seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
/*kada se cekiraju slobodna sedista*/
.seat input[type=checkbox]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 50ms;
    animation-fill-mode: both;
}

/*zauzeta sedista*/
.seat input[type=checkbox]:disabled + label {
    background: #e3115d;
    text-indent: -9999px;
    overflow: hidden;
}

/*ovo je za ona prva 2 sedista viska, ali mozes da  iskoristis i za zauzeta */
.seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}
/*kursor na zauzetim sedistima*/
.seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
}

/*sedista koja nisu ni zauzeta, ali nisu cekirana*/
.seat label {
    display: block;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 4rem;
    padding: 4px 0;
    background: whitesmoke;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
/*maska preko sedista*/
.seat label:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

/*maska preko sedista*/
.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px grey;
}
/*animacija??*/
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
   }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
   }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
   }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
   }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
   }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
   }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
   }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
   }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}

/*footer*/
  .footer-pocetna {
    background-color:transparent;
    color:whitesmoke;
    bottom: 0px;
    margin-top:14px;
    margin-bottom:0;
    font-size:15px;
    opacity:0.6;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
  }
  .footer-pocetna a, .footer-autori a{
    color: whitesmoke;
  }
  
   .copyright {
    padding-left: 850px;
    
  }

/*uputstvo*/
.uputstvo{
    box-sizing: border-box;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    font-size: 23px;
}
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}
@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
   }
}
@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
   }
}
.blog-slider_item {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .blog-slider_item {
        flex-direction: column;
   }
}
.blog-slider_item.swiper-slide-active .blog-slider_img img {
    opacity: 1;
    transition-delay: 0.3s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content {
    opacity: 1;
    transform: none;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(1) {
    transition-delay: 0.3s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(2) {
    transition-delay: 0.4s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(3) {
    transition-delay: 0.5s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(4) {
    transition-delay: 0.6s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(5) {
    transition-delay: 0.7s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(6) {
    transition-delay: 0.8s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(7) {
    transition-delay: 0.9s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(8) {
    transition-delay: 1s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(9) {
    transition-delay: 1.1s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(10) {
    transition-delay: 1.2s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(11) {
    transition-delay: 1.3s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(12) {
    transition-delay: 1.4s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(13) {
    transition-delay: 1.5s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(14) {
    transition-delay: 1.6s;
}
.blog-slider_item.swiper-slide-active .blog-slider_content:nth-child(15) {
    transition-delay: 1.7s;
}
.blog-slider_img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    /*box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);*/
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
/*.blog-slider_img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    border-radius: 20px;
    opacity: 0.8;
}*/
.blog-slider_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .blog-slider_img {
        transform: translateY(-50%);
        width: 90%;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider_img {
        width: 95%;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider_img {
        height: 270px;
   }
}
.blog-slider_content {
    padding-right: 25px;
}
@media screen and (max-width: 768px) {
    .blog-slider_content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider_content {
        padding: 0;
   }
}
.blog-slider_content {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
.blog-slider_code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}
.blog-slider_title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}
.blog-slider_text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}
.blog-slider_button {
    display: inline-flex;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    /*box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);*/
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
    .blog-slider_button {
        width: 100%;
   }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider_pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .blog-slider_pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}
.blog-slider_pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
@media screen and (max-width: 768px) {
    .blog-slider_pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
   }
}
.blog-slider_pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}
.blog-slider_pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #e3115d;
    height: 30px;
    /*box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);*/
}
@media screen and (max-width: 768px) {
    .blog-slider_pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
   }
}


/*kartice*/
.kartice {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: whitesmoke;
    font-family: 'Pacifico';
  }
  
  .podaci{
    color: whitesmoke;
    font-family: Phantomsans, sans-serif;
  }
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px 10px;
    width: 100%;
  }
  
  @media screen and (min-width:768px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    -webkit-back-face-visibility: hidden;
    width: 415px;
    margin-bottom: 35px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
  }
  
  .flip-box-header {
    font-size: 34px;
    position: top;
  }
  
  .flip-box p {
    font-size: 20px;
    line-height: 1.5em;
  }
  
  .flip-box-img {
    margin-top: 25px;
  }
  
 /*Dugme Vise-Autori*/ 
.dugme3 {
    font-size: 1.8rem;
    color: whitesmoke ;
    background-image: linear-gradient(144deg,#EE6A61, #B91061 50%,#EE6A61);
    border: none;
    border-radius: 100rem;
    padding: 15px 35px;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
}

/*pop-up windows*/

a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 4rem 2rem;
}


.box__p,
.box__info,
.box__note {
  font-size: 1.6rem;
}

.box__info {
  margin-top: 6rem;
}

.box__note {
  line-height: 2;
}


/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0d0925;
}

.modal-container:target {
  display: flex;
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;
  color: whitesmoke;
  background-color: #0d0925;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  position: relative;

  overflow: hidden;
}

.modal__title {
  font-size: 3.2rem;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;
  font-size: 1.6rem;
  line-height: 2;
}


/* link-... */
.link-1 {
  font-size: 1.8rem;
  color: white;
  background-color: #0d0925;
  /*box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);*/
  border-radius: 100rem;
  padding: 1.4rem 3.2rem;

  transition: .2s;
}
